@page "/cancel_delete_invoice"
@using AppData.Entities
@using BlazorServer.IServices
@inject IInvoiceDetailServices services
@inject NavigationManager navigation

<h3>Cancel + Delete Invoice View</h3>
<p>@_ms</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID Invoice Detail</th>
            <th scope="col">ID Invoice</th>
            <th scope="col">ID Field Shift</th>
            <th scope="col">Deposit</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstInvoiceDetail)
        {
            <tr>
                <td scope="row">@item.IdInvoiceDetail</td>
                <td>@item.IdInvoice</td>
                <td>@item.IdFieldShift</td>
                <td>@item.Deposit</td>
                @if (item.Status == 0)
                {
                    <td>Chưa xác nhận</td>
                }else if(item.Status == 1)
                {
                    <td>Đã xác nhận</td>
                }else if(item.Status == 2)
                {
                    <td>Đã hủy xác nhận</td>
                }
                <td>
                    <button class="btn btn-warning" @onclick="() => CancelInvoice(item.IdInvoiceDetail, item.Status)">Hủy lịch đặt sân</button>
                    <button class="btn btn-warning" @onclick="() => DeleteInvoice(item.IdInvoiceDetail, item.Status)">Xóa lịch đặt sân</button>
                </td>
            </tr>

        }
    </tbody>
</table>
@code {
    string _ms = "";
    List<InvoiceDetail> lstInvoiceDetail = new List<InvoiceDetail>();

    //Hien thi lich dat san
    protected override async Task OnInitializedAsync()
    {
        lstInvoiceDetail = await services.GetAllInvoiceDetailAsync();
    }


    //Hủy lịch đặt sân
    protected async Task CancelInvoice(Guid id, int status)
    {
        if (status == 1) //Nếu trạng thái là đã xác nhận
        {
            bool iSuccess = await services.CancelInvoiceDetailAsync(id);
            if (iSuccess)
            {
                _ms = "Hủy lịch đặt sân thành công";
            }
            else
            {
                _ms = "Hủy lịch đặt sân thất bại";
            }

            //Cập nhật lại danh sách
            lstInvoiceDetail = await services.GetAllInvoiceDetailAsync();
        }else
        {
            _ms = "Chỉ có thể hủy lịch đặt sân có trạng thái là đã xác nhận";
        }
    }


    //Xoa lịch đặt sân chua xac nhan
    protected async Task DeleteInvoice(Guid id, int status)
    {
        if(status == 0) //Nếu có trạng thái là chưa xác nhận
        {
            bool iSuccess = await services.DeleteInvoiceDetailAsync(id);
            if (iSuccess)
            {
                _ms = "Xoa lịch đặt sân thành công";
            }
            else
            {
                _ms = "Xoa lịch đặt sân thất bại";
            }

            //Cập nhật lại danh sách
            lstInvoiceDetail = await services.GetAllInvoiceDetailAsync();
        }else
        {
            _ms = "Chỉ có thể xóa lịch đặt sân có trạng thái là chưa xác nhận";
        }
    }
}
